body{

   background-color: #EFF3F5; 
   font-family: "lato", sans-serif;
}

h1{
margin-top: 70px;;
text-align: center;
color: black;
vertical-align: middle;
font-family: 'Skranji', cursive;
}

#image{
   background-image: url("../images/manga5.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
}

header{
   height: 500px;
}

#logo{
   font-family: 'Cabin Sketch', cursive;
   color: tomato;
   font-size: 2rem;
}