body{

   background-image:  url("../images/arches.png");
   background-color: #F7F7F7; 
   font-family: "lato", sans-serif;
}

h1{
text-align: center;
color:white;
vertical-align: middle;
font-family: 'Skranji', cursive;
}

#image{
   background-image: url("../images/manga8.jpeg");
   background-repeat: no-repeat;
   background-position: center;
   /* background-attachment: fixed; */
}

header{
   margin-top: 70px;
   height: 600px;
}

#logo{
   font-family: 'Cabin Sketch', cursive;
   color: tomato;
   font-size: 2rem;
}

#title{
color: #073762;
}

#topWeek{
text-align: center;
margin: 30px;
}

#your_opening{
   color: tomato;
   font-family: 'Skranji', cursive;

}