body{

   /* background-image:  url("../images/motifs.jpeg"); */
   background-color: #F7F7F7; 
   font-family: "lato", sans-serif;
}

h1{
text-align: center;
color:#ee7a7a;
vertical-align: middle;
font-family: 'Skranji', cursive;
}

#image{
   background-image: url("../images/manga5.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
}

header{
   margin-top: 70px;
   height: 600px;
}

#logo{
   font-family: 'Cabin Sketch', cursive;
   color: tomato;
   font-size: 2rem;
}

#title{
color: #073762;
}

#topWeek{
text-align: center;
margin: 30px;
}